@import "src/scss/mixins";

.page-header {
  background-color: #787878;
  min-height: 160px;
  position: relative;
  padding-top: 70px;
  padding-left: 70px;
  margin-bottom: 10px;


  .icon-wrapper {
    @include icon-wrapper();
    background-color: white;
    position: absolute;
    height: 60px;
    top: 60px;
    left: 0;

    svg {
      fill: #787878;
    }
  }

  .page-title {
    color: white;
    font-weight: 600;
    font-size: 40px;

    span {
      font-size: 12px;
      font-weight: 400;
    }

  }


}