@import "src/scss/mixins";

.combobox {
  @include inputs();
  position: relative;

  .list-of-elements {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 20;
    overflow: auto;
    transition-duration: .5s;
    transition-property: height;
    height: 0;

    &.show {
      height: 410px;
    }

  }

  .list-element {
     color: white;
     font-size: 18px;
     padding: 5px 10px;
     border-bottom: #142840 1px solid;
     background-color: #334865;
     cursor: pointer;
  }

}