@import "src/scss/mixins";

.datepicker {
  position: relative;
  width: 350px;
  height: 60px;
  box-sizing: border-box;

  .picker {
    top: 60px;
    left: 0;
    overflow: hidden;
    width: 100%;
    transition-duration: .5s;
    transition-property: height;
    height: 0;
    position: absolute;
    z-index: 10;
    display: block;


    &.show {
      height: 441px;
    }

  }


  .month-selection {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #142840;

    .month-display {
      display: flex;
      flex: 6;
      color: white;
      font-weight: 600;
      font-size: 18px;

      justify-content: center;
      align-items: center;

    }

    .prev-btn, .next-btn {
      color: white;
      background-color: #142840;
      border: 0;
      padding: 10px;
      font-weight: 400;
      cursor: pointer;
      outline: 0;
    }

  }

  .days-table {
    border-collapse: collapse;

    td {
      width: 50px;
      height: 50px;
      text-align: center;
      vertical-align: center;
      border: 1px solid #52667f;
      background-color: #142840;
      font-weight: 400;
      color: #52667f;
      cursor: not-allowed;

      &.cell-header {
        background-color: #263a53;
        color: white;
        font-weight: 600;
      }

      &.enabled {
        background-color: #263a53;
        color: white;
        font-weight: 600;
        cursor: pointer;

        &:first-of-type, &:last-of-type {
          background-color: #334865;
        }
      }
    }
  }
}
