@mixin icon-wrapper {
  display: flex;
  width: 60px;
  justify-content: center;
  align-items: center;
}

@mixin inputs {
  .inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .input-field {
      width: 270px;
      padding: 5px;
      background-color: #334865;
      color: white;
      font-size: 18px;
      border: 0;
      outline: 0;
      height: 60px;
      display: flex;
      align-items: center;

      &:focus {
        background-color: #061633;
      }
    }

    .input-btn {
      background-color: #263a53;
      font-size: 15px;
      border: 0;
      width: 80px;
      outline: 0;
      cursor: pointer;
      color: white;
    }
  }
}